
*.xcworkspacedata

*.xcworkspacedata

CalorieApp.xcodeproj/xcuserdata/nikhildhavale.xcuserdatad/xcschemes/xcschememanagement.plist

*.xcuserstate
CalorieApp.xcodeproj/project.xcworkspace/xcuserdata/nikhildhavale.xcuserdatad/UserInterfaceState.xcuserstate
