<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>OpenAIAPIKey</key>
    <string>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</string>
</dict>
</plist> 